*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color: white;
    font-size: 2rem;
    font-family: monospace;
}

.element{
    border: 4px solid #72147e;
    padding: 1em;
    text-align: center;
}
.element:hover{
    background-color:#ffc508b9;
    transition: all .5s ;
    color: #222;
}
#grid-container{
    height: 100vh;
}